<?xml version="1.0" encoding="UTF-8"?>
<root>
    <seo>
        <title_ru>Компания Grace Lubricants - российский производитель смазочных материалов и технических жидкостей премиум класса.</title_ru>
        <title_en>Grace Lubricants is a Russian manufacturer of premium lubricants and technical fluids.</title_en>
        <meta_description/>
        <meta_keywords/>
        <meta_twitter_card/>
        <meta_twitter_size/>
        <meta_twitter_creator/>
        <meta_og_url/>
        <meta_og_type/>
        <meta_og_title/>
        <meta_og_description/>
        <meta_og_image/>
        <meta_robots/>
        <meta_googlebot/>
        <meta_google_site_verification/>
    </seo>
    <settings>
        <email>zakaz@grace-oil.com</email>
        <phone>+7 (800) 234-50-17</phone>
        <address_ru>127238, Москва, Локомотивный проезд, 21, офис 315</address_ru>
        <address_en>127238, Moscow, Lokomotivny proezd, 21, office 315</address_en>
    </settings>
</root>
