.h-menu li:nth-child(8) a {
    border: 1px solid whitesmoke;
    background-color: #e24a00;
}

.h-menu li:nth-child(8) a.active,
.h-menu li:nth-child(8) a:hover {
    background-color: #808285;
}

.marketplace-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 7px;
}

.marketplace-icon:nth-child(2) {
    margin-right: 24px;
}

.marketplace-icon img {
    width: 100%;
}

.marketplace-icon:hover img {
    opacity: 0.7;
    filter: opacity(70%);
}

.f-btn-wp .marketplace-icon {
    margin: 10px 0 0 7px !important;
}

.f-btn-wp .marketplace-icon:nth-child(2) {
    margin-right: 0;
}

.tovar-item.item > .mp-icons-container {
    right: 5px;
    position: absolute;
}

.tovar-item.item > .mp-icons-container > .mp-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 3px;
}

.btn_more_wrap img {
    width: 40px;
    height: 40px;
    margin-top: 2px;
    float: right;
}

.reliable-company {
    display: inline-block;
    margin-right: 10px;
    /*margin-top: 10px;*/
    /*padding-top: 10px;*/
    /*border-top: 1px solid gray;*/
}

.news-banner {
    width: 750px;
    padding-left: 35px;
    margin: 15px auto;
    text-align: center;
}

.news-banner > img {
    width: 100%;
    margin-bottom: 10px;
}

.news-banner .btn_more_wrap {
    width: 49%;
    padding: 0 3px;
    display: inline-block;
}

.news-banner .btn_more_wrap a {
    width: 100%;
}

.where-buy h1 {
    text-align: center !important;
}

.dealer {
    padding: 15px 0;
    border-bottom: 1px solid lightgrey;
}

.dealer p {
    margin-bottom: 5px;
}

.dealer p a {
    color: #EB7C1E;
}

.retail-img {
    height: 60px;
    margin-bottom: 30px;
}

.retail-img img {
    width: auto;
    height: 100%;
}

.retail-block {
    background-color: #FFFFFF;
    border: 1px solid #E3E4E6;
    box-sizing: border-box;
    border-radius: 6px;
    text-align: center;
    padding: 50px;
}

@media (max-width: 991px) {
    .marketplace-icon {
        width: 30px;
        height: 30px;
    }

    .phone-header {
        font-size: 16px;
    }

    .phone-header,
    .marketplace-icon,
    .marketplace-icon:nth-child(2),
    .chahge-lang {
        margin-right: 10px;
    }

    .news-banner {
        width: 100%;
        padding-left: 0;
    }
}

@media (max-width: 726px) {
    .phone-header,
    .marketplace-icon,
    .marketplace-icon:nth-child(2),
    .chahge-lang {
        margin-right: 5px;
    }
}

@media (max-width: 700px) {
    .marketplace-icon {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 650px) {
    .h-contact-wp .row-flex {
        justify-content: center;
    }

    .marketplace-icon {
        width: 50px;
        height: 50px;
        margin-top: 10px;
    }

    .news-banner .btn_more_wrap {
        width: 100%;
    }
}