.marketplace-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 7px;
}

.marketplace-icon:nth-child(2) {
    margin-right: 24px;
}

.marketplace-icon img {
    width: 100%;
}

.marketplace-icon:hover img {
    opacity: 0.7;
    filter: opacity(70%);
}

.f-btn-wp .marketplace-icon {
    margin: 10px 0 0 7px !important;
}

.f-btn-wp .marketplace-icon:nth-child(2) {
    margin-right: 0;
}

.tovar-item.item > .mp-icons-container {
    right: 5px;
    position: absolute;
}

.tovar-item.item > .mp-icons-container > .mp-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 3px;
}

.btn_more_wrap img {
    width: 40px;
    height: 40px;
    margin-top: 2px;
    float: right;
}

.reliable-company {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid gray;
}

@media (max-width: 991px) {
    .marketplace-icon {
        width: 30px;
        height: 30px;
    }

    .phone-header {
        font-size: 16px;
    }

    .phone-header,
    .marketplace-icon,
    .marketplace-icon:nth-child(2),
    .chahge-lang {
        margin-right: 10px;
    }
}

@media (max-width: 726px) {
    .phone-header,
    .marketplace-icon,
    .marketplace-icon:nth-child(2),
    .chahge-lang {
        margin-right: 5px;
    }
}

@media (max-width: 700px) {
    .marketplace-icon {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 650px) {
    .h-contact-wp .row-flex {
        justify-content: center;
    }

    .marketplace-icon {
        width: 50px;
        height: 50px;
        margin-top: 10px;
    }
}